@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Math&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@700&family=STIX+Two+Math&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
}

.flex-column,
.flex-row {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.title-text {
  text-align: center;
  color: greenyellow;
  width: 100%;
}

.navigation {
  width: 100%;
  height: 70px;
  padding: 15px 0;
  transition: all 0.8s;
  justify-content: center;
  align-items: flex-end;
}

.navigation-links {
  text-align: right;
  padding: 0;
}

.nav-li {
  color: #888;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 10px;
  transition: all 0.8s;
  cursor: pointer;
}

.navigation-links li:hover {
  background-color: rgb(226, 129, 90);
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0 auto;
    max-width: 600px;
  }
}

.container {
  padding: 15px;
  width: 100vw;
}

.row {
  padding: 15px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.btn,
.remove-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 42px;
  width: 100px;
  font-family: 'El Messiri', sans-serif;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background-color: yellow;
  border: 1.5px solid transparent;
  font-weight: 400;
  font-size: 14px;
  transition: ease 0.25s background-color;
  cursor: pointer;
  align-self: flex-end;
}

.btn:hover {
  background-color: greenyellow;
}

.remove-btn:hover {
  background-color: rgb(226, 129, 90);
}

.input-field {
  min-height: 35px;
  border-radius: 10px;
  margin-bottom: 10px;
  outline: none;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid greenyellow;
  padding-left: 10px;
}

.input-text {
  border: none;
}

.input-text:focus {
  outline: none;
}

.book-list {
  border-radius: 8px;
  border: 3.5px solid black;
  flex-basis: 70%;
  min-height: 100px;
}

.book-list-item {
  justify-content: space-between;
  padding: 1.5rem;
  background-color: antiquewhite;
  min-height: 100px;
}

.bg-2 {
  background-color: rgb(131, 252, 151);
}

.book-registration {
  min-width: 500px;
}
